<div class="row">
    <div class="col-md-12 col-sm-12">
        <nav class="navbar navbar-light bg-light headerNav">
            <a class="navbar-brand" href="#"><strong>Navbar - </strong><i><small>Version-2: Later this space will have pagination</small></i></a>
        </nav>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="taskTable">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Project</th>
                    <th scope="col">Work Item</th>
                    <th scope="col">Status</th>
                    <th scope="col">Progress</th>
                    <th scope="col">Development Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tRow">
                    <th class="tCol" scope="row">1</th>
                    <td class="tCol">Mark</td>
                    <td class="tCol">Otto</td>
                    <td class="tCol">@mdo</td>
                    <td class="tCol">Thornton</td>
                    <td class="tCol">@twitter</td>
                  </tr>
                  <tr class="tRow">
                    <th class="tCol" scope="row">2</th>
                    <td class="tCol">Jacob</td>
                    <td class="tCol">Thornton</td>
                    <td class="tCol">@fat</td>
                    <td class="tCol">the Bird</td>
                    <td class="tCol">Otto</td>
                  </tr>
                  <tr class="tRow">
                    <th class="tCol" scope="row">3</th>
                    <td class="tCol">Larry</td>
                    <td class="tCol">the Bird</td>
                    <td class="tCol">@twitter</td>
                    <td class="tCol">Thornton</td>
                    <td class="tCol">Otto</td>
                  </tr>
                  <tr>
                </tbody>
              </table>
        </div>
    </div>
</div>



