<div class="wrapper">
    <div class="inner">
        
<form [formGroup]="registerForm" ngNativeValidate (ngSubmit)="register()">
    <h2 class="title">Register User</h2>
    <div class="input-group">
        <input class="input--style-3" type="text" placeholder="Full Name" name="name" formControlName="fullName">
    </div>
    <div class="input-group">
        <input class="input--style-3" type="email" placeholder="Email" name="email" formControlName="email">
    </div>
    <div class="input-group">
        <input class="input--style-3" type="text" placeholder="Username" name="username" formControlName="username">
    </div>
    <div class="input-group">
        <input class="input--style-3" type="password" placeholder="Password" name="Password" formControlName="password">
    </div>
    <div class="input-group">
        <input class="input--style-3" type="password" placeholder="Repeat Password" name="repeat-password" formControlName="confirmPassword">
    </div>
    <div class="p-t-10">
        <button class="btn btn-lg btn-primary btn-block btn-blue" type="submit" [disabled]="!registerForm.valid">Register</button>
        <div class="checkbox policy mb-3">
            <label>
                <input type="checkbox" value="policy" formControlName="policyCheck">
                <small class="text-muted">I agree to <a href="">Terms of user</a></small>
            </label>
        </div>
    </div>
    </form>
        <div class="image-holder" style="background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('assets/data/register-image.jpg'); background-position: top;">
        </div>
    </div>
</div>
