<section class="landing-section">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Work Wired</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#"><p>Home</p></a>
          <a class="nav-link" href="#"><p>Features</p></a>
          <a class="nav-link" href="#"><p>Contact</p></a>
        </nav>
      </div>
    </header>
  
    <main role="main" class="inner cover">
      <div class="logo-container">
        <img class="card-img-top" src="assets/data/ww-icon-small.png" alt="Card image cap">
      </div>
      <h1 class="cover-heading">Simple Work Tracker</h1>
      <p class="lead">Create projects and tasks, and assign people to them. Estimate how long each task should take and check progress.</p>
      <p class="lead">
        <span class="btn btn-lg btn-secondary get-started" (click)="gettingSarted()">GETTING STARTED</span>
      </p>
    </main>
  
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Don't have an account <span class="login" (click)="signIn()">Sign In here</span></p>
      </div>
    </footer>
  </div>
</section>