<nav class="ww-navbar navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/data/WW-logo-medium.png" width="45" height="45" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
      </div>
      <form class="form-inline d-flex flex-row-reverse ">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        <input class="form-control mr-sm-2 search-inp" type="search" placeholder="Search" aria-label="Search">
        
      </form>
    </div>
  </nav>
