.card {
    position: absolute;
    left: 35%;
    width: 25rem;
    .card-img-top {
        width: 20rem;
        height: 20rem;
        margin: 0 2.5rem 0 2.5rem;
    }
    .card-body {
        background-color: aquamarine;
    }
    .card-footer {
        background-color: mediumaquamarine;
    }
}
.card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }