<!-- new markip starts here => according to new mock design -->
<div *ngIf="showSignIn" class="row login" style="background-image: url('assets/data/bg.png');">
  <div class="container login-container">
    <div class="row">
      <div class="w-50 mx-auto">
        <div class="card-deck mb-3 text-center sign-in-block">
          <div class="card mb-4 shadow-sm">
            <svg _ngcontent-tec-c48="" class="svg-inline--fa fa-user-circle fa-w-16 fa-5x fa-fw mr-3 user-icon" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="user-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path></svg>
            <div class="card-body">
              <h4 class="my-0 font-weight-normal signInText">Please Sign In</h4>
              <form class="form-signin" [formGroup]="loginForm" ngNativeValidate (ngSubmit)="login()">
                <label class="sr-only" for="inlineFormInputGroupUsername">username</label>
                <div class="input-group mb-2 mr-sm-2" [ngClass]="displayFieldCss('username')">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <svg _ngcontent-rtq-c48="" class="svg-inline--fa fa-user fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z" style="
                        fill: white;
                    "></path></svg>
                    </div>
                  </div>
                  <input type="email" formControlName="username" class="form-control" id="inlineFormInputGroupUsername" placeholder="Enter email">
                </div>
                <app-field-error-display class="error" [displayError]="isFieldValid('username')" errorMsg="Required*">
                </app-field-error-display>
                <label for="inlineFormInputGroupPassword" class="sr-only">Password</label>
                <div class="input-group mb-2 mr-sm-2" [ngClass]="displayFieldCss('password')">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <svg _ngcontent-fva-c48="" class="svg-inline--fa fa-lock fa-w-14 fa-fw" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" style="
                        fill: white;
                    "></path></svg>
                    </div>
                  </div>
                  <input type="password" class="form-control" formControlName="password" id="inlineFormInputGroupPassword" placeholder="Password">
                </div>
                <app-field-error-display class="error" [displayError]="isFieldValid('password')" errorMsg="Required*">
                </app-field-error-display>
                <!-- <div class="checkbox remember-me mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div> -->
                <div class="checkbox forgot-password">
                  <label>
                    <p (click)="showSignIn=false; showForgotPassword=true">Forgot password?</p>
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <hr id="hrline1">
                <p id="orLogin">or login with</p>
                <hr id="hrline2">
                <img id="facebook1" (click)="loginWithThirdPartySites('Facebook')" src="https://image.flaticon.com/icons/svg/174/174848.svg">
                <img id="google1" (click)="loginWithThirdPartySites('Gmail')" src="https://image.flaticon.com/icons/svg/281/281764.svg">
                <img id="twitter1" (click)="loginWithThirdPartySites('Twitter')" src="https://img.icons8.com/color/48/000000/twitter.png">
              </form>
            </div>
            <div class="card-footer mt-3">
              <div class="checkbox register">
                <div>
                   <span>Don't have an account?</span><p (click)="registerUser()">Register now</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div *ngIf="showForgotPassword" class="row login" style="background-image: url('assets/data/bg.png');">
  <div class="container login-container">
    <div class="row">
      <div class="w-50 mx-auto">
        <div class="card-deck mb-3 text-center sign-in-block">
          <div class="card mb-4 shadow-sm">
            <div class="reset-lock">
              <svg _ngcontent-vwu-c49="" class="svg-inline--fa fa-lock fa-w-14 fa-5x" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" style="
              fill: #000066;"></path></svg>
            </div>
            <div class="card-body resetCard">
              <h4 class="my-0 font-weight-normal reset">Reset Password</h4>
              <p>Enter your registered email and we will send you alink to reset the password.</p>
              <form class="fp-form"[formGroup]="forgotPasswordForm" ngNativeValidate (ngSubmit)="restPassword()">
                <label class="sr-only" for="formReferenceEmailField">Enter Your Email</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                  </div>
                  <input type="email" formControlName="referenceEmail" class="form-control" id="formReferenceEmailField" placeholder="Enter email">
                </div>
                <div class="p-t-20">
                  <button type="button" class="btn btn-outline-primary btn-block btn-cancel" (click)="showSignIn=true; showForgotPassword=false;forgotPasswordForm.reset();">Cancel</button>
                  <button class="btn btn-lg btn-primary btn-block btn-blue" type="submit" Id="resetClick" [disabled]="!forgotPasswordForm.valid">Reset</button>
                </div>
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" style="position: absolute; top: 1rem; right: 1rem;">
                  <div class="toast-header">
                
                    <strong class="mr-auto">Reset Success</strong>
                    <!-- <small>11 mins ago</small> in future addtiming lapsed -->
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="toast-body">
                    <strong>Reset password link sent successfuly.</strong>
                 </div>
                 <div class="toast-footer">
                    <small><strong>Link not received?</strong> <p class="try-again" (click)="forgotPasswordForm.reset();"><strong class="text-primary">Try again</strong></p> </small>
                 </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>