/* color codes used in application */

$primary-blue-hue: #000066;
$secondary-grey-hue: #6c757d;
$info-blue-hue: #007bff;

$shadow-dark-hue: #808080;
$border-hue: #ffb366;

$white-color: #ffffff;
$black-color: #000000;

$card-background-hue: rgba(0, 0, 0, 0.03);
$card-border-bottom: 1px solid rgba(0, 0, 0, 0.125);

$grey-text-hue: #6c757d;
$link-bue-hue: #1e90ff;
$link-dark-hue: #1f2a60;